@model OnlineEnrollmentSystem.Models.CourseListViewModel  

<h1>My Enrolled Classes</h1>  

<table class="table table-bordered">  
    <thead>  
        <tr>  
            <th>Course Code</th>  
            <th>Grade</th>  
        </tr>  
    </thead>  
    <tbody>  
        @foreach (var enrollment in Model.Enrollments)  
        {  
            <tr>  
                <td>@enrollment.CourseName</td>  
                <td>  
                    @if (string.IsNullOrEmpty(enrollment.Grade))  
                    {  
                        <span>Not Graded Yet</span>  
                    }  
                    else  
                    {  
                        @enrollment.Grade  
                    }  
                </td>  
            </tr>  
        }  
    </tbody>  
</table>  

<!-- Button to Navigate to Enrollment Page -->  
<div class="text-right mt-3">  
    <a href="/Courses/Enroll" class="btn btn-primary">Go to Enrollment Page</a>  
</div>